/* You can add global styles to this file, and also import other style files */

@import "~codemirror/lib/codemirror.css";
@import "~codemirror/theme/material";
@import "~codemirror/addon/display/fullscreen.css";
html,
body {
    height: 100%;
}

body,
html {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow-x: hidden;
}

.CodeMirror {
    height: 100% !important;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-button {
    width: 11px;
    height: 11px;
}

::-webkit-scrollbar-thumb {
    background: #bababa;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
    background: #000000;
}

::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: #666666;
}

::-webkit-scrollbar-track:active {
    background: #333333;
}

::-webkit-scrollbar-corner {
    background: transparent;
}